@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');

* {
    margin: 0; 
    padding: 0;
    /* border: 1px solid red; */
} 

/* Fonts & Text Styles */ 

h1 {
    font-family: 'Montserrat', 'Open Sans', 'Noto Sans Japanese'; 
    font-weight: 400;
    font-size: 30px;
    color: #325273;
}

h2 {
    font-family: 'Montserrat', 'Open Sans', 'Noto Sans Japanese'; 
    font-weight: 400;
    font-size: 20px;
    color: #325273;
} 

h3 {
    font-family: 'Montserrat', 'Open Sans', 'Noto Sans Japanese'; 
    font-weight: 300;
    font-size: 15px;
    color: #325273;
} 

p {
    font-family: 'Roboto', 'Zain', 'Open Sans'; 
    font-weight: 300;
    font-size: 15px;
    color: #325273;
}

a {
    font-family: 'Roboto', 'Zain', 'Open Sans'; 
    font-weight: 400;
    font-size: 18px;
}

body {
    /* width: 80%;  */
    /* margin: 0 auto; */
    background-color: whitesmoke;
} 

.icon {
    color: #A2CFFE;
}


/* Header Area */

nav {
    background-color: #A2CFFE;
    color: white;
    height: auto;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 0 auto;
}

.mainHeader {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 20px auto;
}  

.header {
    height: auto;
    width: 40%;
    margin: 0 auto;
}

ul {
    width: 80%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

li {
    display: inline-block;
    margin: 25px 30px;
}  

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #325273;
    padding-bottom: 2px;
}

a:hover {
    border-bottom: 2px solid #325273;
}

.wrapper {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: flex-end;
}  

.container {
    height: auto;
    width: auto;
    align-content: center;
}

.icon-img {
    margin: 0 10px;
    font-size: 35px;
} 

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.icon-special {
    color: whitesmoke;
    background-color: #A2CFFE;
    border-radius: 50%;
}

.backgroundPic {
    background-image: url(img/workPhoto3.JPG); 
    height: 800px;
    width: auto;
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    margin: -40px 0 0 0;
    position: relative;
    z-index: 0;
} 

.infoBox {
    background-color: #a2cefeea;
    padding: 20px;
    /* margin-left: 10%; */
    height: auto;
    width: 350px;
    position: absolute;
    border-radius: 10px;
    top: 60%;
    right: 10%
}

.spaceBelow {
    margin-bottom: 10px;
}

.infoBox p {
    margin-bottom: 20px;
}

.infoBox a {
    border: 2px solid #325273;
    border-radius: 20px;
    padding: 5px;
    font-size: 15px;
} 

/* About Section */

#about {
    width: 80%;
    margin: 30px auto;
    height: auto;
} 

.title {
    border-left: 5px solid #A2CFFE;
    padding-left: 15px;
}

.wrapper2 {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center; 
    margin: 25px auto;
}  

.container2 {
    height: 500px;
    width: 100%;
    text-align: center;
}

.aboutText {
    height: 100%;
    width: 100%;
    text-align: left;
    margin-top: 40px;
}

.aboutText p {
    padding: 10px 0;
    margin: 0 20px 0 0;
}

.aboutimg {
    background-image: url(img/workPhoto2.png); 
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.wrapper3 {
    display: flex;
    justify-content: flex-start;
    margin: 40px 0 0 0;
    width: auto;
    height: auto;
}

.container3 {
    height: auto;
    width: auto;
    align-content: center; 
}

/* Gallery Section */

#gallery {
    width: 100%;
    margin: 15px auto;
    height: auto;
    background-color: #a2cefecd;
    padding: 30px 0 10px 0;
} 

.title2 {
    border-left: 5px solid #325273;
    padding-left: 15px;
    width: 80%;
    margin: 0 auto;
}

.wrapper4 {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center; 
    margin: 25px auto;
}  

.container4 {
    height: 300px;
    width: 500px;
    text-align: center;
    margin: 0 5px;
}

/* Images for Gallery */

.galleryimg1 {
    background-image: url(img/gallery1.JPG); 
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.galleryimg2 {
    background-image: url(img/gallery2.JPG); 
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.galleryimg3 {
    background-image: url(img/gallery3.JPG); 
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.galleryimg4 {
    background-image: url(img/gallery4.JPG); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.galleryimg5 {
    background-image: url(img/gallery5.JPG); 
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.galleryimg6 {
    background-image: url(img/gallery6.JPG); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.galleryimg7 {
    background-image: url(img/gallery7.JPG); 
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.galleryimg8 {
    background-image: url(img/gallery8.JPG); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
} 

/* Footer Info */

footer {
    height: auto;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
} 

footer a {
    font-size: 15px;
    color: #f0954f;
} 

footer a:hover {
    border-color: #f0954f;
}

@media (max-width: 1215px) {
    
    .backgroundPic {
        height: 600px;
    }

    .mainHeader {
        width: 90%;
    }

    nav {
        width: 90%;
    }

    ul {
        width: 90%;
    }

    #about {
        width: 90%;
    }

    .aboutimg {
        background-position: center;
    }

    .aboutText {
        margin-top: 20px;
    }

    .title2 {
        width: 90%;
    }

    .wrapper4 {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    
    .aboutText {
        margin-top: 10px;
    }

    .wrapper3 {
        margin: 15px 0 0 0;
    }

    .aboutText p {
        padding: 8px 0;
    }
}

@media (max-width: 987px) {
    
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 12px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 15px;
    }

    li {
        margin: 20px 30px;
    }

    .backgroundPic {
        margin: -35px 0 0 0;
    }

}

@media (max-width: 894px) {
    
    .aboutText {
        margin-top: 0;
    }
} 

@media (max-width: 832px) {

    h1 {
        font-size: 22px;
    }

    .aboutText p {
        padding: 5px 0;
    }

    .wrapper3 {
        margin: 13px 0 0 0;
    }

    .infoBox {
        padding: 16px;
        top: 65%;
    }
} 

@media (max-width: 814px) {
    .wrapper2 {
        margin: 20px auto;
    }

    .aboutText p {
        padding: 3px 0;
    }

    .container4 {
        height: 200px;
        width: 400px;
    }
}

@media (max-width: 733px) {
    
    .wrapper2 {
        display: block;
        margin: 10px auto;
    }

    .container2 {
        height: 320px;
    }

    .wrapper4 {
        display: block;
    }

    .container4 {
        height: 400px;
        width: 95%;
        margin: 10px auto;
    }

    .mobileFix {
        margin-top: -10px;
    }

    #gallery {
        margin: 10px auto;
    }

    .infoBox {
        top: 60%;
    }
}

@media (max-width: 732px) {
    
    h1 {
        font-size: 20px;
    }
}

@media (max-width: 687px) {
    .container2 {
        height: 350px;
    }
}

@media (max-width: 665px) {
    h1 {
        font-size: 18px;
    } 

    li {
        margin: 15px 30px;
    }

    .backgroundPic {
        margin: -25px 0 0 0;
    }

    .container2 {
        height: 380px;
    }
}

@media (max-width: 699px) {
    h1 {
        font-size: 15px;
    } 

    .mainHeader {
        width: 95%;
    }

    .nav {
        width: 95%;
    }

    .about {
        width: 95%;
    }

    .wrapper4 {
        width: 95%;
    }

    .infoBox {
        right: 10%;
    }

    #gallery {
        margin: 0 auto;
    }
}

@media (max-width: 554px) {
    .container2 {
        height: 400px;
    }

    #gallery {
        padding: 30px 0 5px;
    }
}

@media (max-width: 483px) {
    .container2 {
        height: 420px;
    }
}

@media (max-width: 473px) {
    .mainHeader {
        width: 98%;
    }

    .nav {
        width: 98%;
    }

    .about {
        width: 98%;
    }

    .wrapper4 {
        width: 98%;
    }

    .infoBox {
        margin: 0 auto;
    }

    .container2 {
        height: 440px;
    }
}

@media (max-width: 451px) {
    .container2 {
        height: 460px;
    }

    .infoBox {
        right: 5%;
    }
}

@media (max-width: 447px) {
    .container2 {
        height: 480px;
    }
}

@media (max-width: 421px) {

    li {
        margin: 15px;
    }

    .infoBox {
        right: 1%;
    }

    .container2 {
        height: 500px;
    }
}

@media (max-width: 390px) {

    .mainHeader {
        display: block;
        width: 98%;
        margin: 15px auto 15px; 
    }

    .header {
        width: 98%;
        text-align: center;
    }

    .wrapper {
        text-align: center;
        justify-content: center;
        padding-top: 15px;
    }

    h1 {
        font-size: 18px;
    }

    .infoBox {
        width: 250px;
        right: 5%;
    }

    .container2 {
        height: 520px;
    }
}

@media (max-width: 383px){
    .container2 {
        height: 540px;
    }
}

@media (max-width: 363px){
    .container2 {
        height: 560px;
    }
}

@media (max-width: 345px){
    .container2 {
        height: 580px;
    }
}

@media (max-width: 324px){
    .container2 {
        height: 600px;
    }
}