@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');

* {
    margin: 0; 
    padding: 0;
    /* border: 1px solid red; */
} 

/* Fonts & Text Styles */ 

h1 {
    font-family: 'Montserrat', 'Open Sans', 'Noto Sans Japanese'; 
    font-weight: 400;
    font-size: 30px;
    color: #325273;
}

h2 {
    font-family: 'Montserrat', 'Open Sans', 'Noto Sans Japanese'; 
    font-weight: 400;
    font-size: 20px;
    color: #325273;
} 

h3 {
    font-family: 'Montserrat', 'Open Sans', 'Noto Sans Japanese'; 
    font-weight: 300;
    font-size: 15px;
    color: #325273;
} 

p {
    font-family: 'Roboto', 'Zain', 'Open Sans'; 
    font-weight: 300;
    font-size: 15px;
    color: #325273;
}

a {
    font-family: 'Roboto', 'Zain', 'Open Sans'; 
    font-weight: 400;
    font-size: 18px;
}

body {
    /* width: 80%;  */
    /* margin: 0 auto; */
    background-color: whitesmoke;
} 

.icon {
    color: ##A2CFFE;
}


/* Header Area */

nav {
    background-color: #A2CFFE;
    color: white;
    height: auto;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 0 auto;
}

.mainHeader {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 20px auto;
}  

.header {
    height: auto;
    width: 40%;
    margin: 0 auto;
}

ul {
    width: 80%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

li {
    display: inline-block;
    margin: 25px 30px;
}  

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #325273;
    padding-bottom: 2px;
}

a:hover {
    border-bottom: 2px solid #325273;
}

.wrapper {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: flex-end;
}  

.container {
    height: auto;
    width: auto;
    align-content: center;
}

.icon-img {
    margin: 0 10px;
    font-size: 35px;
} 

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.icon-special {
    color: whitesmoke;
    background-color: #A2CFFE;
    border-radius: 50%;
}

.backgroundPic {
    background-image: url(img/workPhoto3.JPG); 
    height: 800px;
    width: auto;
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    margin: -40px 0 0 0;
    position: relative;
    z-index: 0;
} 

.infoBox {
    background-color: #a2cefeea;
    padding: 20px;
    /* margin-left: 10%; */
    height: auto;
    width: 350px;
    position: absolute;
    border-radius: 10px;
    top: 60%;
    right: 10%
}

.spaceBelow {
    margin-bottom: 10px;
}

.infoBox p {
    margin-bottom: 20px;
}

.infoBox a {
    border: 2px solid #325273;
    border-radius: 20px;
    padding: 5px;
    font-size: 15px;
} 

/* About Section */

#about {
    width: 80%;
    margin: 30px auto;
    height: auto;
} 

.title {
    border-left: 5px solid #A2CFFE;
    padding-left: 15px;
}

.wrapper2 {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center; 
    margin: 25px auto;
}  

.container2 {
    height: 500px;
    width: 100%;
    text-align: center;
}

.aboutText {
    height: 100%;
    width: 100%;
    text-align: left;
    margin-top: 40px;
}

.aboutText p {
    padding: 10px 0;
    margin: 0 20px 0 0;
}

.aboutimg {
    background-image: url(img/workPhoto2.png); 
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.wrapper3 {
    display: flex;
    justify-content: flex-start;
    margin: 40px 0 0 0;
    width: auto;
    height: auto;
}

.container3 {
    height: auto;
    width: auto;
    align-content: center; 
}

/* Gallery Section */